{% extends 'base.html' %}

{% block  title_head %}
<title>clientes</title>
{% endblock  %}

{% block h1_header %}
lista de clientes
{% endblock h1_header %}

{% block contenido %}
<button>
    <a class="navbar-brand" href={% url 'craer_cliente' %}>crear cliente</a>
</button>
<form action={% url 'clientes' %}method="get">
    {{formulario}}
    <button>Buscar</button>
</form>
{% if  clientes%}
{% for cliente in clientes %}
<li>
    
    {{cliente}}
    <a href={% url 'eliminar_cliente' cliente.id %}>Eliminar</a>
    <a href={% url 'modificar_cliente' cliente.id %}>modificar</a>
</li>
{% endfor %}
{% else %}
<p>no existe ese cliente</p>
{% endif %}

{% endblock contenido %}
